body{
	background-color: #faf4f4;
}

h1 {
	color: #f37474;
	text-align: center ;
	font-family:Comic Sans MS;
	font-size:20px ;
}
h2{
	color: ;
}

img{
	width: 100vw;
	height: 100vh;
	object-fit: cover;
}
h3{

}